asgiref==3.8.1
Django==5.1.5
django-stubs==5.1.2
django-stubs-ext==5.1.2
gunicorn==23.0.0
packaging==24.2
sqlparse==0.5.3
types-PyYAML==6.0.12.20241230
types-setuptools==75.8.0.20250110
typing_extensions==4.12.2
